 <%= javascript_include_tag 'calendar_time'%>
<div id="reservation-form">
  <% if @reservation %>
    <%= form_with(model: @reservation, url: calendar_group_participant_reservation_path(@calendar_group, @reservation)) do |form| %>
      <!-- Date and Time Inputs -->
      <div class="text-left">
        <%= form.label :date, "Datums", class: " text-sm block font-medium text-gray-700" %>
        <%= form.date_field :date, id: "reservation_date", class: "mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>
      <div class="text-left">
        <%= form.label :time_from, "Laiks no", class: "block text-sm font-medium text-gray-700" %> <span class="text-red-500">*</span>
        <%= form.text_field :time_from, id: "reservation_time_from", class: "mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>
      <div class="text-left">
        <%= form.label :time_to, "Laiks līdz", class: "block text-sm font-medium text-gray-700" %> <span class="text-red-500">*</span>
        <%= form.text_field :time_to, id: "reservation_time_to", class: "mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"%>
      </div>
      <!-- Comments Textarea -->
      <div class="mt-4">
        <%= form.label :comments, "Komentāri:", class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_area :comments, id: "reservation_comments", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>
      <!-- Ponies and Horses Fieldsets -->
      <div class="mt-4">
        <% if @calendar_group.calendar_ponies.present? %>
          <fieldset>
            <legend class="block text-sm font-medium text-gray-700 mb-2">Poniji:</legend>
            <% @calendar_group.calendar_ponies.each do |pony| %>
              <div class="flex items-center">
                <%= form.check_box :calendar_pony_ids, { multiple: true }, pony.id, nil %>
                <%= form.label "calendar_pony_ids_#{pony.id}", pony.pony_name, class: "ml-2 block text-sm text-gray-900" %>
                <%= form.hidden_field :calendar_pony_ids, multiple: true, value: nil %>
              </div>
            <% end %>
          </fieldset>
        <% end %>
        <% if @calendar_group.calendar_horses.present? %>
          <fieldset class="mt-4">
            <legend class="block text-sm font-medium text-gray-700 mb-2">Zirgi:</legend>
            <% @calendar_group.calendar_horses.each do |horse| %>
              <div class="flex items-center">
                <%= form.check_box :calendar_horse_ids, { multiple: true }, horse.id, nil %>
                <%= form.label "calendar_horse_ids_#{horse.id}", horse.horse_name, class: "ml-2 block text-sm text-gray-900" %>
                <%= form.hidden_field :calendar_horse_ids, multiple: true, value: nil %>
              </div>
            <% end %>
          </fieldset>
        <% end %>
      </div>
      <!-- Hidden Fields -->
      <%= form.hidden_field :calendar_group_id, value: @calendar_group.id %>
      <%= form.hidden_field :calendar_participant_join_table_id, value: @calendar_participant_join_table.id %>
      <!-- Submit Button -->
      <div class="mt-6">
        <%= form.submit "Apstiprināt", class: "w-full font-bold bg-indigo-600 cursor-pointer text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>
    <% end %>
  <% else %>
    <%= form_with(model: ParticipantReservation.new, url: calendar_group_participant_reservations_path(@calendar_group)) do |form| %>
      <div class="text-left">
        <%= form.label :date, "Datums", class: "block text-sm font-medium text-gray-700" %>
        <%= form.date_field :date, id: "reservation_date", class: "mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>
      <div class="text-left">
        <%= form.label :time_from, "Laiks no", class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :time_from, id: "reservation_time_from", class: "mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", style: "left: 0" %>
      </div>
      <div class="text-left">
        <%= form.label :time_to, "Laiks līdz", class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :time_to, id: "reservation_time_to", class: "mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>
      <!-- Comments Textarea -->
      <div class="mt-4">
        <%= form.label :comments, "Komentāri:", class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_area :comments, id: "reservation_comments", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>
      <!-- Ponies and Horses Fieldsets -->
      <div class="mt-4">
        <% if @calendar_group.calendar_ponies.present? %>
          <fieldset>
            <legend class="block text-sm font-medium text-gray-700 mb-2">Poniji:</legend>
            <% @calendar_group.calendar_ponies.each do |pony| %>
              <div class="flex items-center">
                <%= form.check_box :calendar_pony_ids, { multiple: true }, pony.id, nil %>
                <%= form.label "calendar_pony_ids_#{pony.id}", pony.pony_name, class: "ml-2 block text-sm text-gray-900" %>
                <%= form.hidden_field :calendar_pony_ids, multiple: true, value: nil %>
              </div>
            <% end %>
          </fieldset>
        <% end %>
        <% if @calendar_group.calendar_horses.present? %>
          <fieldset class="mt-4">
            <legend class="block text-sm font-medium text-gray-700 mb-2">Zirgi:</legend>
            <% @calendar_group.calendar_horses.each do |horse| %>
              <div class="flex items-center">
                <%= form.check_box :calendar_horse_ids, { multiple: true }, horse.id, nil %>
                <%= form.label "calendar_horse_ids_#{horse.id}", horse.horse_name, class: "ml-2 block text-sm text-gray-900" %>
                <%= form.hidden_field :calendar_horse_ids, multiple: true, value: nil %>
              </div>
            <% end %>
          </fieldset>
        <% end %>
      </div>
      <!-- Hidden Fields -->
      <%= form.hidden_field :calendar_group_id, value: @calendar_group.id %>
      <%= form.hidden_field :calendar_participant_join_table_id, value: @calendar_participant_join_table.id %>
      <!-- Submit Button -->
      <div class="mt-6">
        <%= form.submit "Apstiprināt", class: "w-full font-bold bg-indigo-600 cursor-pointer text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
      </div>
    <% end %>
  <% end %>
</div>
