<%= form_with(model: @calendar_pony, local: true) do |form| %>
  <% if @calendar_pony.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar_pony.errors.count, "error") %> prohibited this pony from being saved:</h2>
      <ul>
        <% @calendar_pony.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-4">
    <%= form.label :pony_name, "Pony Name", class: "block text-gray-700 text-lg font-bold mb-2" %>
    <%= form.text_field :pony_name, class: "shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-lg" %>
  </div>
  <div class="mb-4">
    <%= form.label :description, "Description", class: "block text-gray-700 text-lg font-bold mb-2" %>
    <%= form.text_area :description, class: "shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-lg" %>
  </div>
  <%= form.hidden_field :calendar_group_id, value: @calendar_group.id %>
  <div class="flex items-center">
    <%= form.submit "Add Pony", class: "bg-orange-500 hover:bg-gray-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline text-lg cursor-pointer mr-12"  %>
    <%= link_to 'Back', @calendar_group, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-6 rounded text-lg cursor-pointer" %>
  </div>
<% end %>
