<%= form_for @user, url: { action: "update_password" }, method: :patch, html: { class: 'max-w-sm mx-auto mt-0', local: true } do |f| %>
  <div class="field mb-4">
    <%= f.label :previous_password, "Esošā parole",class:"block text-gray-700 text-sm font-bold mb-2"%>
    <%= f.password_field :previous_password, class: "form-input w-full focus:outline-none focus:shadow-outline"%>
  </div>
  <div class="field mb-4">
    <%= f.label :password, "Jaunā parole", class:"block text-gray-700 text-sm font-bold mb-2"  %>
    <%= f.password_field :password, class: "form-input w-full focus:outline-none focus:shadow-outline"%>
  </div>
  <div class="field mb-4">
    <%= f.label :password_confirmation, "Jaunās parole atkāroti", class:"block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.password_field :password_confirmation, class: "form-input w-full focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="flex items-center mb-5">
    <%= f.submit "Atjaunināt", class: "bg-gray-500 text-white font-bold py-2 px-4 rounded inline-block hover:bg-blue-900 hover:text-white transition duration-300 cursor-pointer" %>
    <%= button_tag "Aizvērt", type: 'button', onclick: 'togglePasswordUpdate()', class: 'bg-red-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-2' %>
  </div>
<% end %>
