<%= form_with(url: login_path, method: :post, html: { class: 'max-w-sm mx-auto' }) do |form| %>  <% if @user.errors.any? %>
    <div class="error flex items-center justify-start mb-2">
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 mt-5 py-3 rounded relative">
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <%end%>
  <h2 class="text-2xl font-semibold mb-4  mt-4"><%= t('.title') %></h2>
  <div class="mb-4">
    <%= form.label :username, t('.username'), class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= form.text_field :username, class: 'form-input w-full' %>
  </div>
  <div class="mb-4">
    <%= form.label :password, t('.password'), class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= form.password_field :password, class: 'form-input w-full' %>
  </div>
  <div class="flex items-center justify-start">
    <%= form.submit t('.submit_button'), class: 'bg-gray-500 text-white font-bold py-2 px-4 rounded inline-block hover:bg-blue-900 hover:text-white transition duration-300 cursor-pointer' %>
  </div>
<% end %>
